/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background: url("./img/marita-kavelashvili-ugnrXk1129g-unsplash.jpg") no-repeat center/100%;
	height: 100vh;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
}

.left {
	min-width: 33%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: white;
}

.right > * {
	padding: 2rem 4rem;
	border: 5px solid red;
}

.large-text {
	font-size: 1.5rem;
	font-weight: bold;
}

p + p {
	padding-top: 1.5rem;
}